*{
    margin: 0;
    padding: 0;
}


.section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    
}
.header{
    width: 80%;
    height: 45px;
    display: flex;
    /* position: fixed;
    top: 0px; */
}
.Lheader{
    display: flex;
    width: 25%;
    height: 45px;
    align-items: center;
}
.Mheadar{
    display: flex;
    /* background-color: wheat; */
    width: 50%;
    height: 45px;
}
.Rheader{
    display: flex;
    /* background-color: yellow; */
    width: 25%;
    height: 45px;
}
.section .header .Lheader .nav-ul{
    display: flex;
    list-style-type: none;
}
.section .header .Lheader .nav-ul li a{
    text-decoration: none;
    color:  #1DA1F2;
    font-size: 30px;
    /* background: #d8dadfdc; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    margin-top: 10px;
}
li,a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.section .header .Lheader .nav-ul li a:hover{
    background:  #daeefe;
}
.Mheadar a{
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-left:  1px solid lightgray;
    border-right: 1px solid lightgray;
    

}
.Mheadar a h3{
    display: flex;
    width: 90%;
    margin-left: 10px;
}
.Mheadar a i{
    display: flex;
    align-items: center;
    height: 43px;
    width: 30px;
    border-radius: 50%;
}
.Mheadar a i:hover{
    background:  #daeefe;
}
.fb-search-bar{
    width: 250px;
    height: 41px;
    background: #e7e9ec;
    border: none;
    margin-left: 10px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
    margin-top: 5px;
}
.fb-search-bar:focus{
    border: 2px solid skyblue;
}
.mainsection{
    width: 100%;
    /* height: 849px; */
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.maincontent{
    width: 80%;
    display: flex;
    /* background-color: black; */
    height: 814px;
    
}
.Leftmain{
    width: 25%;
    display: flex;
    /* background-color: yellowgreen; */
    flex-direction: column;
    height: 587px;
    /* position: fixed; */
    /* padding: 35px 0px 0px 0px; */
}
.main{
    width: 50%;
    display: flex;
    background-color: orange;
}
.right{
    width: 25%;
    display: flex;
    background-color:white;
}
.mainsection .maincontent .Leftmain ul li{
    display: flex;
    font-size: 20px;
    /* margin-top: 12px; */
    padding: 15px 25px 15px 0px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
}
.mainsection .maincontent .Leftmain ul li:hover{
    background: #d0d1d4;
}
.own{
    width: 90%;
    height: 100%;
    padding: 15px;
    border-radius: 100px;
}
.mainsection .maincontent .Leftmain ul .buttonli{
    width: 100%;
}
.mainsection .maincontent .Leftmain ul .buttonli:hover{
    background: none;
}
.mainsection .maincontent .Leftmain .side-name
{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 50px;
    width: 85%;
}
.mainsection .maincontent .Leftmain .side-name:hover{
    background: #d0d1d4;
}